target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
frontend
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.log
logs/
spring-boot-devtools.properties
